{% extends "base.html" %}

{% block content %}



    <h1>WP</h1>
    {% for entry in wp %}
        <article xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
                 xmlns="http://www.w3.org/1999/html">
            <div class="row">
                <h6>{{ entry }}</h6>
            </div>
        </article>

    {% endfor %}
    <h1>ONET</h1>
    {% for entry in wp %}
        <article xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
                 xmlns="http://www.w3.org/1999/html">
            <div class="row">
                <h6>{{ entry }}</h6>
            </div>
        </article>

    {% endfor %}
    <h1>INTERIA</h1>
    {% for entry in wp %}
        <article xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
                 xmlns="http://www.w3.org/1999/html">
            <div class="row">
                <h6>{{ entry }}</h6>
            </div>
        </article>

    {% endfor %}




{% endblock %}