{% extends "base.html" %}

{% block content %}
     <div class="row">
                <h2>Wyszukiwane: {{ zapytanie }}</h2>
                <h3>{{ title }}</h3>
     </div>

    {% for entry in baza %}
        <article xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
                 xmlns="http://www.w3.org/1999/html">
            <div class="row">
                <h6>{{ entry }}</h6>
            </div>
        </article>


    {% endfor %}
    <br/>


{% endblock %}